# Ignore everything
*

!*/

!/public/**/*

!_layouts/*

!assets/css/*

!*.public.md
!_config.yml
!.gitignore
!/Gemfile
!package.json
!setup.sh
!extractcss.sh
!.puppeteer.json
!/README.md
!*.public.bib

*.plist
