<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Backlinks</key>
	<array>
		<string>/public/root-test_.md</string>
		<string>/public/root-test.md</string>
	</array>
	<key>ReferencedPath</key>
	<string>/public/attachments/2022-11-26-20-21-27.png</string>
</dict>
</plist>
